aiohttp==3.9.3
    # via
    #   langchain
    #   langchain-community
aiosignal==1.3.1
    # via aiohttp
altair==5.3.0
    # via streamlit
annotated-types==0.6.0
    # via pydantic
attrs==23.2.0
    # via
    #   aiohttp
    #   jsonschema
    #   referencing
azure-cognitiveservices-speech==1.37.0
    # via -r requirements.in
blinker==1.7.0
    # via streamlit
cachetools==5.3.3
    # via
    #   google-auth
    #   streamlit
certifi==2024.2.2
    # via requests
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via streamlit
colorama==0.4.6
    # via
    #   click
    #   tqdm
dataclasses-json==0.6.4
    # via
    #   langchain
    #   langchain-community
frozenlist==1.4.1
    # via
    #   aiohttp
    #   aiosignal
gitdb==4.0.11
    # via gitpython
gitpython==3.1.43
    # via streamlit
google-ai-generativelanguage==0.6.1
    # via google-generativeai
google-api-core[grpc]==2.18.0
    # via
    #   google-ai-generativelanguage
    #   google-api-python-client
    #   google-generativeai
google-api-python-client==2.125.0
    # via google-generativeai
google-auth==2.29.0
    # via
    #   google-ai-generativelanguage
    #   google-api-core
    #   google-api-python-client
    #   google-auth-httplib2
    #   google-generativeai
google-auth-httplib2==0.2.0
    # via google-api-python-client
google-generativeai==0.5.0
    # via -r requirements.in
googleapis-common-protos==1.63.0
    # via
    #   google-api-core
    #   grpcio-status
greenlet==3.0.3
    # via sqlalchemy
grpcio==1.62.1
    # via
    #   google-api-core
    #   grpcio-status
grpcio-status==1.62.1
    # via google-api-core
httplib2==0.22.0
    # via
    #   google-api-python-client
    #   google-auth-httplib2
idna==3.6
    # via
    #   requests
    #   yarl
jinja2==3.1.3
    # via
    #   altair
    #   pydeck
jsonpatch==1.33
    # via
    #   langchain
    #   langchain-core
jsonpointer==2.4
    # via jsonpatch
jsonschema==4.21.1
    # via altair
jsonschema-specifications==2023.12.1
    # via jsonschema
langchain==0.1.14
    # via -r requirements.in
langchain-community==0.0.31
    # via langchain
langchain-core==0.1.40
    # via
    #   langchain
    #   langchain-community
    #   langchain-text-splitters
langchain-text-splitters==0.0.1
    # via langchain
langsmith==0.1.42
    # via
    #   langchain
    #   langchain-community
    #   langchain-core
markdown-it-py==3.0.0
    # via rich
markupsafe==2.1.5
    # via jinja2
marshmallow==3.21.1
    # via dataclasses-json
mdurl==0.1.2
    # via markdown-it-py
multidict==6.0.5
    # via
    #   aiohttp
    #   yarl
mypy-extensions==1.0.0
    # via typing-inspect
mysql-connector-python==8.3.0
    # via -r requirements.in
numpy==1.26.4
    # via
    #   altair
    #   langchain
    #   langchain-community
    #   pandas
    #   pyarrow
    #   pydeck
    #   streamlit
orjson==3.10.0
    # via langsmith
packaging==23.2
    # via
    #   altair
    #   langchain-core
    #   marshmallow
    #   streamlit
pandas==2.2.1
    # via
    #   -r requirements.in
    #   altair
    #   streamlit
pillow==10.3.0
    # via streamlit
proto-plus==1.23.0
    # via
    #   google-ai-generativelanguage
    #   google-api-core
protobuf==4.25.3
    # via
    #   google-ai-generativelanguage
    #   google-api-core
    #   google-generativeai
    #   googleapis-common-protos
    #   grpcio-status
    #   proto-plus
    #   streamlit
pyarrow==15.0.2
    # via streamlit
pyasn1==0.6.0
    # via
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.4.0
    # via google-auth
pydantic==2.6.4
    # via
    #   google-generativeai
    #   langchain
    #   langchain-core
    #   langsmith
pydantic-core==2.16.3
    # via pydantic
pydeck==0.8.1b0
    # via streamlit
pygments==2.17.2
    # via rich
pyparsing==3.1.2
    # via httplib2
python-dateutil==2.9.0.post0
    # via pandas
python-dotenv==1.0.1
    # via -r requirements.in
pytz==2024.1
    # via pandas
pyyaml==6.0.1
    # via
    #   langchain
    #   langchain-community
    #   langchain-core
referencing==0.34.0
    # via
    #   jsonschema
    #   jsonschema-specifications
requests==2.31.0
    # via
    #   google-api-core
    #   langchain
    #   langchain-community
    #   langsmith
    #   streamlit
rich==13.7.1
    # via streamlit
rpds-py==0.18.0
    # via
    #   jsonschema
    #   referencing
rsa==4.9
    # via google-auth
six==1.16.0
    # via python-dateutil
smmap==5.0.1
    # via gitdb
sqlalchemy==2.0.29
    # via
    #   langchain
    #   langchain-community
streamlit==1.33.0
    # via -r requirements.in
tenacity==8.2.3
    # via
    #   langchain
    #   langchain-community
    #   langchain-core
    #   streamlit
toml==0.10.2
    # via streamlit
toolz==0.12.1
    # via altair
tornado==6.4
    # via streamlit
tqdm==4.66.2
    # via google-generativeai
typing-extensions==4.11.0
    # via
    #   google-generativeai
    #   pydantic
    #   pydantic-core
    #   sqlalchemy
    #   streamlit
    #   typing-inspect
typing-inspect==0.9.0
    # via dataclasses-json
tzdata==2024.1
    # via pandas
uritemplate==4.1.1
    # via google-api-python-client
urllib3==2.2.1
    # via requests
watchdog==4.0.0
    # via streamlit
yarl==1.9.4
    # via aiohttp
langchain_google_genai==0.1.12  # Latest version as of November 2023
